.table>:not(caption)>*>* {
  background-color: transparent;
}

.tabSD{
  color: #e9ecf5 !important;
  
} 
.tabMatrix{
  color: #e9ecf5 !important;
  width: 100%; 
  /* margin-left: 123px; */
} 

.table-hover tbody tr:hover{
  color:#F28D9F !important;
  /* background-color: beige; */

}

.head{
  background-color: #e3405f;
}

.module{
  background-color: #7a2232 !important;
}
